main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.video-container {
    height: 85vh;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.app-title {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.app-name {
    margin-left: 20px;
    font-size: 24px;
    background: linear-gradient(to right, #00b09b, #96c93d);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
}

.app-author {
    font-size: 10px;
    color: #888;
}

.wrapper-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.centered {
    justify-content: center;
}

.local-container {
    width: 75%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.local-container video {
    transition: width 0.3s ease, height 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.video {
    transform: scaleX(-1);
}

.camera-off-placeholder {
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-off-placeholder img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    color: black;
    height: 70px;
    padding: 10px;
}

.left-controls,
.center-controls,
.right-controls {
    display: flex;
    align-items: center;
}

.left-controls button,
.center-controls button,
.right-controls button {
    margin: 0 5px;
}

.current-time-code {
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    white-space: pre;
    font-weight: 500;
    color: #fff;
    margin-left: 15px;
}

.material-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0 10px;
    border: none;
    background-color: #3C5448;
    /* color: #3C4142; */
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.material-symbols-outlined {
    font-size: 1.2rem;
}

.smaller-font {
    font-size: 1.3rem;
}

.round-not {
    border: none;
    background-color: transparent;
}

.material-button:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.material-button.active {
    color: white;
    border: none;
}

.material-button.end-call {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
}

.reactions-container {
    position: relative;
    display: flex;
    align-items: center
}

.reactions-popup {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: var(--main-green-color);
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.reactions-container .material-button.active+.reactions-popup {
    display: flex;
    align-items: center;
}

.reactions-popup button {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

.reactions-popup img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s;
}

.reactions-popup button:hover img {
    transform: scale(1.2);
}

.popup-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width: 380px;
    height: auto;
    margin-left: 20px;
}

.popup {
    border-radius: 10px;
    background-color: rgba(151, 175, 163, 0.3);
    width: 100%;
    height: 100%;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}

.popup-content p {
    margin: 0;
}

.close-button {
    background-color: transparent;
    border: none;
    color: #888;
    font-size: 16px;
    cursor: pointer;
}

.joining-info {
    margin-top: 10px;
    padding: 15px 25px;
    border-bottom: 1px solid #ccc;
}

.joining-info-title {
    font-size: 14px;
    font-weight: 500;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5px;
}

.link-container input[type="text"] {
    width: 100%;
    border: none;
    color: #808080;
    margin-bottom: 5px;
    pointer-events: none;
    background-color: transparent;
}

.link-container button {
    display: flex;
    align-items: center;
    padding: 9px 8px;
    background-color: transparent;
    color: #047857;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
}

.link-container button:hover {
    background-color: rgba(176, 219, 241, 0.2);
}

.link-icon {
    margin-right: 5px;
    font-size: 20px;
}

.people-info {
    padding: 10px;
}

.add-people-button {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    background-color: #3C5448;
    color: #0077B6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.add-people-button span {
    margin-right: 5px;
}

.search-container {
    margin: 10px 0;
}

.search-container input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
}

.inmeeting {
    color: #808080;
    font-size: 12px;
    font-weight: 450;
    letter-spacing: 1px;
}

div.inmeeting-d .inmeeting {
    margin-left: 10px;
    margin-bottom: 10px;
}

.participant-list {
    margin-bottom: 10px;
}

.participant-title {
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    font-size: 13px;
    border-radius: 5px;
}

.participant-container {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
}

.participant-container.show {
    border-top: none;
    display: block;
}

.participant-container.show+.participant-title {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.participant {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.participant-avatar {
    margin-right: 10px;
}

.participant-avatar img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.participant-info {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.participant-name {
    padding: 0 5px 0 5px;
    margin: 0;
    font-size: 14px;
}

.name-container {
    display: flex;
    flex-direction: column;
}

.host-info {
    font-size: 11px;
    color: #808080;
    margin-left: 5px !important;
}

.participant-icon {
    margin-left: auto;
}

.number-badge {
    margin-right: 10px;
}

.partcounts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.ellipsis-menu {
    margin-left: auto;
}